# SPDX-FileCopyrightText: Copyright 2025 Siemens
#
# SPDX-License-Identifier: Apache-2.0

name: CI
on:
  [workflow_dispatch, pull_request]

jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gta-api-for-openssl
        uses: actions/checkout@v4
      - name: Style check
        run: |
          FILES=$(find . -name '*.c' -o -name '*.h')
          clang-format --dry-run --Werror $FILES

  reuse-compliance-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gta-api-for-openssl
        uses: actions/checkout@v4
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gta-api-for-openssl
        uses: actions/checkout@v4
      - name: Install ShellCheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck
      - name: Run ShellCheck
        run: |
          find . -name "*.sh" -print0 | xargs -0 shellcheck

