# SPDX-FileCopyrightText: Copyright 2025 Siemens
#
# SPDX-License-Identifier: Apache-2.0

name: SonarQube
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    # With this version, the package sources need to be updated to install openssl 3.4.x
    runs-on: ubuntu-24.04
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory # Directory where build-wrapper output will be placed
    steps:
      - name: Install dependencies
        # After installing the dependencies we update the package source to install openssl 3.4.x
        run: |
          sudo apt-get update && sudo apt-get install -y libcmocka-dev meson ninja-build build-essential cmake pkg-config git curl unzip
          sudo sed -i -e 's/noble/plucky/g' /etc/apt/sources.list.d/ubuntu.sources
          sudo apt-get update && sudo apt-get -y install openssl ca-certificates
      - name: Checkout gta-api-core
        uses: actions/checkout@v4
        with:
          repository: 'generic-trust-anchor-api/gta-api-core'
          ref: 'main'
      - name: Build and install gta-api-core
        run: |
          meson setup build
          sudo ninja -C build install
      - name: Checkout gta-api-for-openssl
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Download gta-api-sw-provider merged static library
        env:
          AUTH_SERVICE_PAT: ${{ secrets.AUTH_SERVICE_PAT }}
        run: |
          ARTIFACT_ID=$(curl -H "Authorization: token $AUTH_SERVICE_PAT" \
            https://api.github.com/repos/generic-trust-anchor-api/gta-api-sw-provider/actions/artifacts \
            | jq -r '.artifacts[] | select(.name=="libgta_sw_provider_merged.a") | .id' | head -n 1)
          curl -H "Authorization: token $AUTH_SERVICE_PAT" \
               -L "https://api.github.com/repos/generic-trust-anchor-api/gta-api-sw-provider/actions/artifacts/$ARTIFACT_ID/zip" \
               -o deps/gta_api/lib_latest/libgta_sw_provider_merged.zip
          unzip deps/gta_api/lib_latest/libgta_sw_provider_merged.zip -d deps/gta_api/lib_latest
      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v6
      - name: Run Build Wrapper
        run: |
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} make
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            --define sonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json
